@import "tailwindcss";
@plugin "daisyui";

/* custom theme */
@plugin "daisyui/theme" {
  name: "keenkeeper";
  default: true;

  --p: 243 75% 59%;   /* primary */
  --s: 262 83% 58%;   /* secondary */
  --a: 187 85% 43%;   /* accent */
  --n: 222 47% 11%;   /* neutral */
  --b1: 0 0% 100%;    /* background */
}